*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem;

}

#main {
    background: rgb(245,205,197);
    background: linear-gradient(0deg, rgba(245,205,197,1) 25%, rgba(255,194,229,1) 81%);
}

header {
    border-bottom: 2px black solid;
    padding-bottom: 1rem;
}

h1 {
    font-size: 4rem;
}

h1, .short-text {
    color: rgb(88, 82, 82)     
}

#title {
    padding: 1rem 0;
    display: inline-block;
    margin-left: 3rem; 

}

nav {
    display: inline-block;
    float: right;
    margin-right: 2rem;
    line-height: 9rem;
}

nav a{
    text-decoration: none;
    color: rgb(88, 82, 82);
    font-size: 1.5rem;
    margin-right: 2rem;
}
nav a:last-child {
    margin-right:0;
}

#img-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;

}

#image {
    width: 25rem;
    display: block;
    margin-bottom: 1rem;
}

#contents, #about {
    margin: 1rem
}
h2 {
    font-size: 2rem;
}
#about {
    width: 90rem;
}

.content {
    margin: 2rem 0;
}
.content:first-child {
    margin-top:1rem;
    margin-bottom:0;
}

.content h3 {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}
 
table {
    margin: 2rem 0;
}
.track-list td, .track-list th {

    height: 2rem;
}
.track-list tr:nth-child(even) {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.25) 50%, rgba(255,255,255,0.25) 50%);
}
.track-list tr:first-child {
    background: rgb(205,205,205);
background: linear-gradient(90deg, rgba(205,205,205,0.4) 50%, rgba(205,205,205,0.4) 50%);
}
.track-list td:nth-child(2) {
    width: 40rem;
}